# TOKEN 配置
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
# 数据库路径配置
APP_DB_PATH=db/sys_app.db
HISTORY_DB_PATH=db/sys_history.db
SCHEMA_DB_PATH=db/sys_schema.db
EXTRA_DB_PATH=db/sys_extra.db
TEMP_DB_PATH=db/temp/
LLM_DB_PATH=db/sys_llm.db

# 外部数据库连接配置（用于DBSchemaUtil）
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=your_database

# 要处理的表（逗号分隔）
DB_TABLES=table1,table2

# 输出目录
OUTPUT_DIR=.
